<div id="app">
  <v-app dark>
    <v-toolbar app v-if="$vuetify.breakpoint.smAndUp">
      <%= image_tag 'logowhiteresized.png' %>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="this.$vuetify.breakpoint.lgAndUp">
        <v-btn flat href="/#about-event">About event</v-btn>
        <v-btn flat href="/#registration-info">Registration Info</v-btn>
        <!-- <v-btn flat href="/#programme">Programme</v-btn> -->
        <v-btn flat href="/#accommodation">Accommodation</v-btn>
        <!-- <v-btn flat href="/#charity">Charity</v-btn> -->
        <v-btn flat href="/#sponsors">Sponsors</v-btn>
        <v-btn flat href="/#contact">Contact</v-btn>
      </v-toolbar-items>
      <v-toolbar-items v-else>
        <v-btn small flat href="/">Back</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-toolbar app v-else>
      <v-layout column align-center>
        <%= image_tag 'logowhiteresized.png', width: '300px', class: 'mb-auto' %>
      </v-layout>
      <v-layout column align-center slot="extension">
        <v-btn small flat href="/" style="width: 100%">Back</v-btn>
      </v-layout>
    </v-toolbar>

    <% flash.each do |key, message| %>
    <v-alert type="<%= key %>" :value="true">
      <%= message %>
    </v-alert>
    <% end %>

    <v-content id="top">
      <v-container>
        <v-card id="programme" class="mb-4">
          <v-card-title>
            <div class="title">Online Registration Form</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <p>
              The registration fee is R 790 per participant.
              This includes a Rally Pack, 3 days of fun and Saturday night buffet meal.
            </p>

            <ul class="red--text text--darken-1 px-3 mb-2 subheading">
              <li>Please note that Rider and Pillion both have to register separately and pay separately.</li>
              <li>Please note that this rally is open to Harley-Davidson riders and pillions ONLY.</li>
            </ul>
          </v-card-text>
          <v-divider></v-divider>
          <v-form v-model="valid" action="/registrations" method="POST" ref="form">
            <v-card-text>
              <input type="hidden" name="authenticity_token" :value="csrf">

              <v-radio-group v-model="registration.rider">
                <v-radio label="Rider" :value="true"></v-radio>
                <v-radio label="Pillion" :value="false"></v-radio>
              </v-radio-group>
              <input type="hidden" name="rider" :value="registration.rider">

              <v-text-field
                label="First Name" name="first_name"
                v-model="registration.firstName"
                required :rules="[(v) => !!v || 'Please provide your first name']"
              ></v-text-field>

              <v-text-field
                label="Last Name" name="last_name"
                v-model="registration.lastName"
                required :rules="[(v) => !!v || 'Please provide your last name']"
              ></v-text-field>

              <v-text-field
                label="E-mail" name="email"
                v-model="registration.email"
                required :rules="[(v) => !!v || 'Please provide a contact email address']"
              ></v-text-field>

              <v-text-field
                label="Residential Address" name="residential_address"
                v-model="registration.residential" multi-line auto-grow
                required :rules="[(v) => v.length > 0 || 'Please provide an address']"
              ></v-text-field>

              <v-text-field
                label="Postal Address" name="postal_address"
                v-model="registration.postal" multi-line auto-grow
                hint="Leave this blank if it is the same as the residential address"
              ></v-text-field>

              <v-text-field
                label="Contact Number" name="contact_number"
                v-model="registration.contact"
                required :rules="[(v) => !!v || 'Please provide a contact number']"
              ></v-text-field>

              <v-text-field
                label="Alternate Contact Number" name="alternate_contact_number"
                v-model="registration.alternateContact"
                hint="Provide an alternate number to contact you if you have one"
              ></v-text-field>

              <v-text-field
                label="Club / Chapter" name="chapter"
                v-model="registration.chapter"
                hint="Please provide your club and chapter affiliation if you are a member of a club"
              ></v-text-field>

              <v-text-field
                label="Bike" name="motorcycle"
                v-model="registration.motorcycle"
                required :rules="[(v) => !!v || 'You need to add your bike here']"
                hint="Let us know what bike your ride"
              ></v-text-field>

              <v-select
                label="T-shirt Size"
                v-model="registration.shirt"
                :items="['Small', 'Medium', 'Large', 'X-Large', '2X-Large', '3X-Large', '4X-Large']"
                required :rules="[(v) => !!v || 'You need to pick a shirt size']"
                hint="T-shirt sizes are Unisex sizes" persistent-hint
              ></v-select>
              <input type="hidden" name="shirt_size" :value="registration.shirt">

              <v-select
                label="Payment Method"
                v-model="registration.payment"
                :items="['EFT (Electronic Fund Transfer)', 'Cash Deposit']"
                required hint="Banking details will be mailed to you when you submit your registration"
              ></v-select>
              <input type="hidden" name="payment_method" :value="registration.payment">

              <v-checkbox
                label="I accept the terms and conditions"
                v-model="registration.terms" required
                :rules="[(v) => !!v || 'You have to accept the terms and conditions to register']"
              ></v-checkbox>
              <input type="hidden" name="terms_and_conditions" :value="registration.terms">
            </v-card-text>
            <v-card-actions>
              <v-dialog fullscreen v-model="showingTerms">
                <v-btn flat color="warning" slot="activator">Terms and Conditions</v-btn>
                <v-card>
                  <v-card-title>
                    <div>
                      <div class="headline">Route 62 Rally 2019</div>
                      <div class="subheading">INDEMNITY / WAIVER OF LIABILITY</div>
                    </div>
                  </v-card-title>
                  <v-card-text>
                    <p class="title warning--text">READ BEFORE REGISTERING ONLINE OR SUBMITTING YOUR ENTRY</p>
                    <p>This form provides for the furnishing of particulars and an indemnity/waiver of liability by every person participating or involved in whatever capacity in the events and activities during the ROUTE 62 RALLY in and around MONTAGU during the period 14 – 17 FEBRUARY 2019 to be conducted by the FREE CHAPTER CAPE TOWN (“Event”), and the person who furnishes his/her particulars and signs this Form (‘the Participant”) thereby declares, by doing so, the following:</p>
                    <p>
                      That the Participant fully acknowledges and understands the risks and dangers inherent in motorcycling, acknowledges that he/she has chosen out of his/her own free will without any undue influence to voluntarily participate in the Event and expressly agrees to assume the entire risk of his/her participation therein;<br>
                      That the Participant hereby releases, indemnifies and holds harmless the Free Chapter/ Avalon Springs Resort in relation to the Event, Free Chapter’s respective officers, directors and any member thereof participating in the Event (all hereinafter jointly and severally referred to as the “Released Parties”) from:
                    </p>

                    <ol class="px-3 mb-2">
                      <li>any claims or suits which the Participant has or may later have relating to his/her person (including paralysis or death) and/or property or any costs incurred or damages suffered by the Participant, whether or not such claims, suits, costs or damages result from negligence (except gross negligence and wilful intent) on the part of any or all of the Released Parties arising from, or in connection with, the participation in whatever capacity in the Event, and the Participant assumes all risks of injury and damage to his/her person and property arising, directly or indirectly, from the conduct of the Event; or</li>
                      <li>any act or omission arising from, or in connection with, the conditions, qualifications, instructions, rules or procedures under which the Event is conducted by anyone of the Released Parties; or</li>
                      <li>any criminal or civil liability imposed upon a Released Party arising, directly or indirectly, from any act or omission by the Participant.</li>
                      <li>That if a minor or mentally incapacitated person is to participate in the Ride, then the person signing on behalf or assisting any of the aforesaid persons, by furnishing particulars and appending a signature, further agrees to take full responsibility for the minor’s or mentally incapacitated person’s participation in the Event. The person thus signing hereby on behalf of the minor or mentally incapacitated person releases, indemnifies and holds harmless the Released Parties on the same basis set out in clause 2 above and to the extent not legally possible, hereby indemnifies and holds harmless the Released Parties against any such claim or suit by the minor or mentally incapacitated person, costs incurred or damages suffered by the minor or mentally incapacitated person arising from, or in connection with, the participation of the minor or mentally incapacitated person in whatever capacity in the Event.</li>
                    </ol>

                    <p>That he/she acknowledges and consents to photographs being taken and video material recorded during the Event and furthermore that these photographs and/or video material containing image/s of any Participant be used in various publications, publicity material, posters and internet sites.</p>

                    <p class="title warning--text">BY SUBMITTING THIS REGISTRATION ELECTRONICALLY IT WILL BE DEEMED THAT YOU HAVE READ AND ACCEPT THIS INDEMNITY/WAIVER OF LIABILITY</p>
                  </v-card-text>
                  <v-card-actions><v-spacer></v-spacer>
                    <v-btn color="deep-orange" @click="showingTerms = false">Dismiss</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-spacer></v-spacer>
              <v-btn :disabled="!valid" color="primary" type="submit">Register as a {{ registration.rider ? 'Rider' : 'Pillion' }}</v-btn>
          </v-form>
        </v-card>
      </v-container>
    </v-content>
  </v-app>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
window.Vue = new Vue({
  el: '#app',
  created() {
    this.csrf = document.querySelector("meta[name='csrf-token']").content
  },
  data: {
    csrf: '',
    flashes: {
      <% flash.each do |key, message| %>
      <%= key %>: true,
      <% end %>
    },
    valid: false,
    registration: {
      rider: <%= @registration.rider %>,
      firstName: '<%= @registration.first_name %>',
      lastName: '<%= @registration.last_name %>',
      residential: '<%= (@registration.residential_address || '').gsub("\r\n", '\\n') %>',
      postal: '<%= (@registration.postal_address || '').gsub("\r\n", '\\n') %>',
      contact: '<%= @registration.contact_number %>',
      alternateContact: '<%= @registration.alternate_contact_number %>',
      email: '<%= @registration.email %>',
      motorcycle: '<%= @registration.motorcycle %>',
      chapter: '<%= @registration.chapter %>',
      shirt: '<%= @registration.shirt_size || 'Large' %>',
      payment: '<%= @registration.payment_method || 'EFT (Electronic Fund Transfer)' %>',
      terms: false
    },
    showingTerms: false
  }
})
</script>
