<div id="app">
  <v-app dark>
    <v-toolbar app v-if="$vuetify.breakpoint.smAndUp">
      <%= image_tag 'logowhiteresized.png' %>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="this.$vuetify.breakpoint.lgAndUp">
        <v-btn small flat href="#about-event" @click="$vuetify.goTo('#about-event', { offset: -80 })" :color="section == 'about-event' ? 'deep-orange' : 'white'">About event</v-btn>
        <!-- <v-btn small flat href="#the-rally" @click="$vuetify.goTo('#the-rally', { offset: -80 })" :color="section == 'the-rally' ? 'deep-orange' : 'white'">The Rally</v-btn> -->
        <v-btn small flat href="#registration-info" @click="$vuetify.goTo('#registration-info', { offset: -80 })" :color="section == 'registration-info' ? 'deep-orange' : 'white'">Registration Info</v-btn>
        <!-- <v-btn small flat href="#programme" @click="$vuetify.goTo('#programme', { offset: -80 })" :color="section == 'programme' ? 'deep-orange' : 'white'">Programme</v-btn> -->
        <v-btn small flat href="#accommodation" @click="$vuetify.goTo('#accommodation', { offset: -80 })" :color="section == 'accommodation' ? 'deep-orange' : 'white'">Accommodation</v-btn>
        <!-- <v-btn small flat href="#charity" @click="$vuetify.goTo('#charity', { offset: -80 })" :color="section == 'charity' ? 'deep-orange' : 'white'">Charity</v-btn> -->
        <v-btn small flat href="#sponsors" @click="$vuetify.goTo('#sponsors', { offset: -80 })" :color="section == 'sponsors' ? 'deep-orange' : 'white'">Sponsors</v-btn>
        <v-btn small flat href="#contact" @click="$vuetify.goTo('#contact', { offset: -80 })" :color="section == 'contact' ? 'deep-orange' : 'white'">Contact</v-btn>
      </v-toolbar-items>
      <v-toolbar-items v-if="this.$vuetify.breakpoint.mdAndDown">
        <v-menu open-on-hover offset-y>
          <v-btn small flat slot="activator">
            {{ section ? section.replace('-', ' ') : 'Home' }}
            <v-icon>keyboard_arrow_down</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="nav in navOptions" :key="nav.value" @click="$vuetify.goTo(`#${nav.value}`, { offset: -80 })">
              <v-list-tile-title>{{ nav.text }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>
    <v-toolbar app v-else>
      <v-layout column align-center>
        <%= image_tag 'logowhiteresized.png', width: '300px', class: 'mb-auto' %>
      </v-layout>
      <v-layout column align-center slot="extension">
        <v-menu full-width offset-y style="width: 100%">
          <v-btn flat slot="activator" style="width: 100%">
            {{ section ? section.replace('-', ' ') : 'Home' }}
            <v-icon>keyboard_arrow_down</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="nav in navOptions" :key="nav.value" @click="$vuetify.goTo(`#${nav.value}`, { offset: -120 })">
              <v-list-tile-title>{{ nav.text }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-layout>
    </v-toolbar>

    <% flash.each do |key, message| %>
    <v-dialog v-model="flashes.<%= key %>" max-width="320px">
      <v-card>
        <v-card-text><%= message %></v-card-text>
        <v-card-actions class="text-xs-center">
          <v-btn color="deep-orange" @click="flashes.<%= key %> = false">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <% end %>

    <v-content id="top">
      <v-carousel hide-controls hide-delimiters>
        <v-carousel-item src="<%= image_url 'logo-large.jpg' %>"></v-carousel-item>

        <v-carousel-item src="<%= image_url 'gallery/R62-Banner2.jpg' %>">
          <v-container fill-height>
            <v-layout column align-center justify-center>
              <h4 class="title white--text">9 - 12 FEBRUARY 2023</h4>
              <h1 class="display-3 white--text">JOIN US</h1>
              <h4 class="title white--text">MONTAGU</h4>
            </v-layout>
          </v-container>
        </v-carousel-item>

        <v-carousel-item src="<%= image_url 'gallery/R62-Banner3.jpg' %>">
          <v-container fill-height>
            <v-layout column align-center justify-center>
              <h4 class="title white--text">9 - 12 FEBRUARY 2023</h4>
              <h1 class="display-3 white--text">READY FOR ACTION</h1>
              <h4 class="title white--text">MONTAGU</h4>
            </v-layout>
          </v-container>
        </v-carousel-item>

        <v-carousel-item src="<%= image_url 'gallery/R62-Banner4.jpg' %>">
          <v-container fill-height>
            <v-layout column align-center justify-center>
              <h4 class="title white--text">9 - 12 FEBRUARY 2023</h4>
              <h1 class="display-3 white--text">RELAX &amp; REJUVENATE</h1>
              <h4 class="title white--text">MONTAGU</h4>
            </v-layout>
          </v-container>
        </v-carousel-item>

        <v-carousel-item src="<%= image_url 'gallery/R62-Banner5.jpg' %>">
          <v-container fill-height>
            <v-layout column align-center justify-center>
              <h4 class="title white--text">9 - 12 FEBRUARY 2023</h4>
              <h1 class="display-3 white--text">JOIN US</h1>
              <h4 class="title white--text">MONTAGU</h4>
            </v-layout>
          </v-container>
        </v-carousel-item>

        <v-carousel-item src="<%= image_url 'gallery/R62-Banner6.jpg' %>">
          <v-container fill-height>
            <v-layout column align-center justify-center>
              <h4 class="title white--text">9 - 12 FEBRUARY 2023</h4>
              <h1 class="display-3 white--text">READY FOR ACTION</h1>
              <h4 class="title white--text">MONTAGU</h4>
            </v-layout>
          </v-container>
        </v-carousel-item>

        <v-carousel-item src="<%= image_url 'gallery/R62-Banner7.jpg' %>">
          <v-container fill-height>
            <v-layout column align-center justify-center>
              <h4 class="title white--text">9 - 12 FEBRUARY 2023</h4>
              <h1 class="display-3 white--text">RELAX &amp; REJUVENATE</h1>
              <h4 class="title white--text">MONTAGU</h4>
            </v-layout>
          </v-container>
        </v-carousel-item>

        <v-carousel-item src="<%= image_url 'gallery/R62-Banner8.jpg' %>">
          <v-container fill-height>
            <v-layout column align-center justify-center>
              <h4 class="title white--text">9 - 12 FEBRUARY 2023</h4>
              <h1 class="display-3 white--text">JOIN US</h1>
              <h4 class="title white--text">MONTAGU</h4>
            </v-layout>
          </v-container>
        </v-carousel-item>

        <v-carousel-item src="<%= image_url 'gallery/R62-Banner4.jpg' %>">
          <v-container fill-height>
            <v-layout column align-center justify-center>
              <h4 class="title white--text">9 - 12 FEBRUARY 2023</h4>
              <h1 class="display-3 white--text">RELAX &amp; REJUVENATE</h1>
              <h4 class="title white--text">MONTAGU</h4>
            </v-layout>
          </v-container>
        </v-carousel-item>
      </v-carousel>

      <v-container>
        <v-card id="countdown" class="mx-auto mb-3" style="max-width: 640px">
          <v-card-title>
            <div class="display-3">Our 15<sup>th</sup> Rally Weekend</div>
            <div class="title">will take place in February 2023, Montagu</div>
          </v-card-title>
          <!-- Teaser Video -->
          <v-responsive>
            <iframe src="https://player.vimeo.com/video/122723616?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </v-responsive>
          <!-- Countdown Timer -->
          <v-card-text class="text-xs-center" v-if="true">
            <div class="display-1 mb-3">
              <a @click="scroll('registration-info')" class="deep-orange--text">
                <span v-if="hibernating">Thank you for attending the <br> 2023 Route 62 Rally!</span>
                <span v-else>Registrations are now {{ open ? 'open' : 'closed' }}!</span>
              </a>
            </div>
            <div id="clockdiv" v-if="!hibernating">
              <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
              </div>
              <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
              </div>
              <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
              </div>
              <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
              </div>
            </div>
            <div class="my-3 title" v-if="hibernating">
              Watch this space for announcements about next year's rally!
            </div>
            <div class="my-3 title" v-else-if="open">
              Registrations will close on 30<sup>th</sup> December 2022
            </div>
            <div class="my-3 title" v-else>
              Registrations will be available on-site, <br>
              but will not include a t-shirt, pin or rally pack.
            </div>
          </v-card-text>
        </v-card>
      </v-container>

      <v-container>
        <!-- About Event -->
        <v-card id="about-event" class="mb-4">
          <v-card-title>
            <div class="title">About the Event</div>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn slot="activator" small flat fab href="#countdown" @click="$vuetify.goTo('#countdown', { offset: $vuetify.breakpoint.smAndUp ? -60 : -120 })">
                <v-icon>arrow_upward</v-icon>
              </v-btn>
              <span>Back to Top</span>
            </v-tooltip>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text class="subheading" v-if="false">
            <p>We are very sad to announce that the #R62Rally2022 has had to be cancelled once again.</p>
            <p>To all our loyal rally-goers and fellow riders, we know that you will be as disappointed as we are.</p>
            <p>Even though this is a sign of the times, and probably not a shock to most; we really were doing everything in our power to make it happen. Against all odds.</p>
            <p>The constant rollercoaster with restrictions, and the uncertainty about attendance allowances has made it impossible for us to get the necessary approvals and commitments we need in order to make this event as great as it always is.</p>
            <p>There's just too much at risk. So we know you'll understand.</p>
            <p>We ARE sad. We ARE disappointed. But... <i>WE RIDE ON!</i></p>
            <p>See you on the road!</p>

            <p>All the best,<br><b>The Rally Team</b></p>
          </v-card-text>
          <v-card-text class="subheading">
            <h2>The Route 62 Rally is back in Montagu for 2023</h2>

            <h3>Covid cannot keep bikers in lockdown for long.</h3>
            <p>So, ride in freedom to the vibrant rally venue at Avalon Springs on Route 62 in the picturesque karoo. Make sure you once again roar into Montagu from all corners of the country and join us to celebrate the 15th edition of the longest continuously running and most successful rally for Harley-Davidson motorcyclists.</p>
            <p>The rally committee is hard at work to ensure this is one event you do NOT want to miss.</p>
            <p>All Covid protocols are being taken into account and will be adhered too.</p>
            <p>So, make sure you register in time, and we look forward to giving you a warm welcome in February 2023.</p>
            <p class="red--text"><strong>Rolling Thunder will once again echo in the streets of Montagu.</strong></p>
          </v-card-text>
          <v-card-text>
            <p>February 2023 once again sees the start of the most definitive Harley-Davidson Rally south of the Sahara. <strong>The Famous Route 62 Rally</strong> will once again take place at the Avalon Springs Resort in Montagu, Western Cape from 9 Feb – 12 Feb 2023.</p>
            <p style="text-align: center; line-height: 1.5;"><strong>THIS WILL BE OUR 15<sup>th</sup> RALLY and you don’t want to miss this one.</strong></p>

            <p>The Route 62 Rally is the longest consecutive running Harley Davidson rally in South Africa. We have raised the bar considerably higher from previous years, so you need to join us and be part of this 2023 celebration. There will be music, stalls, tattoo artists, food stalls, Harley games, famous out rides, party and fun.</p>
            <p>Each February since 2007 has seen the staging in Montagu of the Route 62 Harley Rally. It is currently staged at the host site of <strong>Avalon Springs in Montagu</strong>. With over 500 bikers attending, it is one of the biggest and best Harley rallies in Africa hosted by a single club, Free Chapter of Cape Town.</p>
            <p>Harley Bikers from all over South Africa and even from other countries make their way to Montagu on a wide range of bikes, dressed in denim and leather and bedecked with patches and badges. They are warmly welcomed by the friendly reception crew and each receives a well-stocked goody-bag. The program includes <strong>interesting outrides, great food, cold frosties and rock bands to party the nights away</strong>.</p>
            <p>On Saturday morning the traditional mass ride takes the posse of gleaming chrome in a rolling thunder of V-Twin engines through the local streets. This is followed by a variety of challenging Harley Games back at the rally site, designed to test skills to the limit.</p>
            <p>The rally site is well served by local wine estates, a tattoo artist, a Harley dealer &amp; workshop, Sushi bar,  bike wash, food stalls and more. Each evening the roar of Harleys is replaced by the rock bands that ensure a pulsating rhythm continues long into the night. For those wanting a more leisurely pace, there are the soothing waters of the <strong>hot springs and plunge pools</strong>.</p>
            <p>It is more blessed to give than to receive and funds are raised for <strong>charities</strong> serving the local communities. It is always a happy weekend followed by sad farewells to new friends and old with the hope of meeting again next year at the <strong>Route 62 Rally</strong>.</p>
          </v-card-text>
          <v-divider></v-divider>
          <!-- Gallery -->
          <v-dialog v-model="viewingAboutGallery" max-width="800px">
            <v-carousel style="max-height: 600px" :cycle="false" interval="60000" v-model="aboutGalleryIndex">
              <v-carousel-item
                v-for="(src, i) in galleries.about"
                :key="`about-${i}`"
                :src="src"
              />
            </v-carousel>
          </v-dialog>
          <v-card-text>
            <v-layout class="row" style="overflow-x: scroll; height: 135px">
              <img
                v-for="image, index in galleries.about"
                :src="image"
                height="120px"
                class="mx-1"
                @click="galleryToggle('about', index)"
              />
            </v-layout>
          </v-card-text>
        </v-card>
      </v-container>

      <!-- The Rally -->
      <!-- <v-container><v-card id="the-rally" class="mb-4">
        <v-card-title>
          <div class="title">The Rally (Pure Romance)</div>
          <v-spacer></v-spacer>
          <v-tooltip left>
            <v-btn slot="activator" small flat fab href="#countdown" @click="$vuetify.goTo('#countdown', { offset: $vuetify.breakpoint.smAndUp ? -60 : -120 })">
              <v-icon>arrow_upward</v-icon>
            </v-btn>
            <span>Back to Top</span>
          </v-tooltip>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <p>In the years which my lady and I have been in a steady relationship, not once have I missed our Anniversary, her birthday, Valentine’s Day or even the odd bouquet of flowers!</p>
          <p>It’s fair to say that we’re head over heels in love. You know, the good ‘ol fashioned type.  The Black and White flicks which portray an adoring housewife waving her soldier-husband good bye while he boards HMS Whatever to fight for freedom type. </p>
          <p>It’s been pretty Lilies and romance until Valentine’s Day this year as I attended the Route 62 Rally, without her.</p>
          <p>If you’ve never been to this rally, let me say with my hand on my heart that it is absolutely breathtaking! </p>
          <p>Nestled between the mountains, warm springs and the familiar sound of a rumbling Harley engine – there’s pretty much nothing like it in South Africa.  In fact, it’s the longest running Harley rally in our beautiful country.  Harley-Davidson faithful attend with their partners, in clubs or on their own.  There’s an abundance of activities to keep you well entertained.  Or, if you just need some downtime, then why not unwind in the crystal clear pools which just so happen to have a bar close by.  The cocktails are great and the beer is ice cold!  Luckily, nobody took a pic of me drinking a pink drink.</p>
          <p>Nestled between the mountains, warm springs and the familiar sound of a rumbling Harley engine – there’s pretty much nothing like it in South Africa.  In fact, it’s the longest running Harley rally in our beautiful country.  Harley-Davidson faithful attend with their partners, in clubs or on their own.  There’s an abundance of activities to keep you well entertained.  Or, if you just need some downtime, then why not unwind in the crystal clear pools which just so happen to have a bar close by.  The cocktails are great and the beer is ice cold! Luckily, nobody took a pic of me drinking a pink drink.</p>
          <p>Riding there won’t exactly leave you in the desert yearning for a drop of water either, as it’s a stone’s throw from Tyger Valley but just far enough for you to clear your head and fall in love with the road. </p>
          <p>AND THAT’S WHEN I DISCOVERED MY PROBLEM!</p>
          <p>While I thoroughly enjoyed the well-organized rally (thanks to the Free Chapter) and the facilities which were on offer at Montagu Springs, it was the open road that made me realize something…</p>
          <p>I’ve been cheating on my Mrs for years as I have a love affair with the open road and the Route 62 Rally is my mistress!</p>
          <p>After all, I know I’ll be back next year again as the Route 62 Rally is pure romance!</p>
          <p class="grey--text">(Now, about that pink drink…)</p>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text class="text-xs-center">
          by <strong>Ty The Harley Guy</strong>
        </v-card-text>
      </v-card></v-container> -->

      <v-container>
        <!-- Registration Info -->
        <v-card id="registration-info" class="mb-4">
          <v-card-title>
            <div class="title">Registration Info</div>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn slot="activator" small flat fab href="#countdown" @click="$vuetify.goTo('#countdown', { offset: $vuetify.breakpoint.smAndUp ? -60 : -120 })">
                <v-icon>arrow_upward</v-icon>
              </v-btn>
              <span>Back to Top</span>
            </v-tooltip>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <p>This is a closed <strong>Harley-Davidson Motorcycle Rally</strong> and is open to all <strong>Harley-Davidson</strong> riders and pillions only.</p>
            <p>
              Please note: <strong>Each participant will need to fill in a separate registration</strong> &#8211; the rally fee of <strong>R1000</strong> is per person irrespective if you are a rider or a pillion.<br />
              Please note: Children under 12 years free, however you need to pay for their meals (Special Kids meal pricing will be available on site).
            </p>

            <p style="font-size: 1.25em;"><strong>Back by popular demand we have a Friday night pasta evening at R 95 per person. Pre-pay during Rally registration i.e. bottom of registration page.</strong></p>

            <p><strong>Please Note: There will be no Day Passes.</strong></p>

            <p><strong>All other children, guests, back up drivers, assistants, mechanics, bike washers and lookers on need to register and pay the full rally fee.</strong></p>
            <p><strong>Rally Pack Distribution:</strong> NO packs will be mailed. Rally packs will be distributed at the Registration Center during check-in. Unclaimed packs will be sold at the close of the registration on Saturday.</p>
            <p><strong>Registration Confirmation:</strong> A registration confirmation email with your unique reference number will be mailed to you when you complete your online registration. Please contact us if you do not receive the email confirmation; however the likelihood is that your SPAM filter has blocked the email as it comes from a bulk email server. Check your locked emails.</p>
            <p>Bookings at the Host Hotel can only be made after successful online registration and confirmation of payment for the rally has been received.</p>
            <p>The hotel will be provided with an updated list of all paid up registrations. We request that you contact the host hotel after you receive your registration number. The recommendation is to book at the host hotel as the rally is centered within the grounds of the Avalon Hotel and warm mineral water springs.</p>
            <p>The on-site Registration Centre will be at the Main Gate at the Avalon Springs Host Hotel in Montagu.</p>
            <p>Registration check-in times at the rally are in the programme. A copy of your registration confirmation needs to be presented at check-in.</p>
            <p>NOTE: In the event you are unable to attend, 50% will be refundable if cancellation is received in writing (email or fax) before 31 December 2021. If you are unable to attend the rally after registering, we request that you send your confirmation email with someone else to pick-up your rally pack for you. Substitutes are accepted in writing (email or fax).</p>
            <p><strong>Registration Payment:</strong> First we would like to thank you for your interest in attending our rally; we will make every effort to ensure this is a great experience and look forward to hosting you.</p>
            <p>
              <span style="text-decoration: underline;">There are two payment options:</span><br>
              1. Pay by EFT into the Rally Bank Account (banking details will be in your return email once you register).<br>
              2. Do a deposit into the Rally Bank Account by doing a direct deposit at your bank (banking details will be in your return email once you register).
            </p>

            <p>All payments and registrations will close on Friday 30 December 2022 @ 12.00pm.</p>
            <p>Please use your unique registration reference number received in your confirmation email for all payments to ensure that we are able to match your payment to your registration. The EFT and direct payment bank details are included in your confirmation email.</p>
            <p>Once payment has been made, you can book your accommodation at the host hotel. The host hotel will not take bookings until confirmation is received from the Rally Committee that full payment for the rally has been completed.</p>
            <p>Pre-registration is the way to go!</p>
            <p><strong>On-site Registration:</strong> Registration can be done on-site during the rally but does not include a t-shirt, pin or rally pack which are pre-made based on pre-registration.</p>
            <p>Please note: Check-ins on Thursday, February 9; Friday, February 10, and Saturday, February 11 at main gate will close at 6.00pm. Should you be arriving after 6pm please contact Ammi at <a class="deep-orange--text" href="mailto:ammi@iafrica.com">ammi@iafrica.com</a> to arrange for late arrival check-in.</p>
          </v-card-text>
          <v-card-actions v-if="open">
            <v-btn color="deep-orange" href="/registrations/new?rider=true">
              Register as a Rider
            </v-btn>
            <v-btn color="deep-orange" href="/registrations/new?rider=false">
              Register as a Pillion
            </v-btn>
          </v-card-actions>
        </v-card>

        <v-alert type="notice" :value="true" class="black--text">
          Sorry folks! Due to an overwhelming response we have over 600 registrations and are unfortunately forced to closed registrations. We have no more space!
        </v-alert>
      </v-container>

      <v-container v-if="false">
        <v-card id="programme" class="mb-4">
          <v-card-title>
            <div class="title">Programme</div>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn slot="activator" small flat fab href="#countdown" @click="$vuetify.goTo('#countdown', { offset: $vuetify.breakpoint.smAndUp ? -60 : -120 })">
                <v-icon>arrow_upward</v-icon>
              </v-btn>
              <span>Back to Top</span>
            </v-tooltip>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-container fluid style="min-height: 0;" grid-list-lg>
              <v-layout row wrap>
                <v-flex xs12 lg4>
                  <v-card class="elevation-3">
                    <v-card-title class="deep-orange headline">
                      Thursday 13<sup>th</sup> &nbsp;February 2020
                    </v-card-title>
                    <table class="grey darken-4 table">
                      <tbody>
                        <tr><td>
                          <strong>9:00</strong> Registrations open at main gate.
                        </td></tr>
                        <tr><td>
                          <strong>10:00</strong>
                          Check in, drop your bags. Meet and greet fellow riders.
                          Browse through the rally site and stalls. Grab a cold one and chill.
                        </td></tr>
                        <tr><td>
                          <strong>11:00</strong> Bar opens
                        </td></tr>
                        <tr><td>
                          <strong>
                            Grab your WINE PASSPORT card supplied in your Rally Pack.
                            Visit the wine farms printed, get your sticker at the various
                            wine farms and stand a chance to win awesome lucky draw prizes
                            for fully completed cards.
                          </strong>
                        </td></tr>
                        <tr><td>
                          <strong>18:00</strong> Onwards. Music by <!-- TODO --> at the Calypso Pool Bar
                        </td></tr>
                        <tr><td>
                          Grab some food from the varied food stalls on site in the main Harley village
                        </td></tr>
                        <tr><td>
                          <strong>18:00</strong> till Late. <strong>CALYPSO POOL PARTY</strong>.
                          Join the fun in the hot pool with cool sounds from our resident DJ
                        </td></tr>
                      </tbody>
                    </table>
                  </v-card>
                </v-flex>

                <v-flex xs12 lg4>
                  <v-card class="elevation-3">
                    <v-card-title class="deep-orange headline">
                      Friday 14<sup>th</sup> &nbsp;February 2020
                    </v-card-title>
                    <table class="grey darken-4 table">
                      <tbody>
                        <tr><td>
                          <strong>7:00</strong>
                          Breakfast included for hotel guests opens. Not a hotel guest,
                          you can still get a great breakfast @ R90 served in Cogman’s
                          Restaurant or at the food stalls on site.
                        </td></tr>
                        <tr><td>
                          <strong>08:00</strong> Registrations open
                        </td></tr>
                        <tr><td>
                          <strong>09:30</strong>
                          Outride to <strong>Diesel &amp; Creme</strong> in Barrydale.
                          No official out ride. Join up with friends and make your way
                          at your leisure to Barrydale for some great food and the best
                          milkshakes south of the Equator. Take a ride up the
                          <strong>Tradouw Pass</strong> for a great photo opportunity.
                        </td></tr>
                        <tr><td>
                          <strong>12:00 – 12:30</strong>
                          Arrive end destination. Burgers &amp; Hotdogs available.
                          Music to chill by. Cash bar. Don’t forget their famous Milk Shakes.
                        </td></tr>
                        <tr><td>
                          Make your own way back. Visit the wine farms on your Wine Passport Card
                          and get the sticker. Lucky draw prizes for completed cards.
                        </td></tr>
                        <tr><td>
                          <strong>18:00</strong> Live music to get you in the mood
                        </td></tr>
                        <tr><td>
                          <strong>18:00</strong> till Late.
                          Grab something to eat from the varied food stalls and join
                          us for a night of music and dancing.
                        </td></tr>
                        <tr><td>
                          <strong>19:30</strong>
                          Main Band “<!-- TODO -->” on stage. Party the night away.
                        </td></tr>
                      </tbody>
                    </table>
                  </v-card>
                </v-flex>

                <v-flex xs12 lg4>
                  <v-card class="elevation-3">
                    <v-card-title class="deep-orange headline">
                      Saturday 15<sup>th</sup> &nbsp;February 2020
                    </v-card-title>
                    <table class="grey darken-4 table">
                      <tbody>
                        <tr><td>
                          <strong>7:00</strong>
                          Breakfast included for hotel guests opens. Not a hotel guest,
                          you can still get a great breakfast @ R90 served in Cogman’s
                          Restaurant or in the food court.
                        </td></tr>
                        <tr><td>
                          <strong>11:30</strong>
                          Line up outside main gate for Mass Ride. Watch for Marshals.
                          Please join this very integral part of the Rally. The townsfolk
                          look forward to Rolling Thunder in their town.
                        </td></tr>
                        <tr><td>
                          <strong>12:00</strong>
                          Mass Ride starts. After mass ride grab something to eat,
                          grab a cold one and a seat and join us for the best
                          <strong>Harley Games X Far</strong>.
                        </td></tr>
                        <tr><td>
                          Last chance to get your Wine Passport Cards stickered for
                          great prizes. On completion drop in draw box at the FCCT stall.
                        </td></tr>
                        <tr><td>
                          <strong>14:00</strong> Harley games start. Enter and win some prizes.
                        </td></tr>
                        <tr><td>
                          <strong>16:30</strong>
                          Enter your bike in the Karoo Bike Show. Some cool prizes to be won.
                        </td></tr>
                        <tr><td>
                          <strong>17:00</strong> Wine Passport box closes.
                        </td></tr>
                        <tr><td>
                          <strong>17:30</strong>
                          Bike concourse judging starts
                        </td></tr>
                        <tr><td>
                          <strong>19:00</strong>
                          Buffet Dinner served by Avalon Springs (included in your registration)
                        </td></tr>
                        <tr><td>
                          <strong>20:00</strong>
                          Some unavoidable speeches and thank you’s. Raffle draw and prize giving.
                          Thereafter, <strong>PARTY THE NIGHT AWAY!</strong>
                        </td></tr>
                      </tbody>
                    </table>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
            <p>
              <strong>Please note:</strong>
              The registrations at the main gate will close every evening at 18:00.
              Should you arrive after, you need to inform security, who will take you to Hotel
              reception where we will accommodate.
            </p>
            <!-- TODO: Make a programme PDF -->
            <!-- <p><a href="files/programme.pdf">Click here to download a PDF of the programme.</a></p> -->
          </v-card-text>
        </v-card>
      </v-container>

      <v-container>
        <!-- Accommodation -->
        <v-card id="accommodation" class="mb-4">
          <v-card-title>
            <div class="title">Accommodation</div>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn slot="activator" small flat fab href="#countdown" @click="$vuetify.goTo('#countdown', { offset: $vuetify.breakpoint.smAndUp ? -60 : -120 })">
                <v-icon>arrow_upward</v-icon>
              </v-btn>
              <span>Back to Top</span>
            </v-tooltip>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>

            <v-card color="grey darken-4" class="mb-2">
              <v-card-title class="deep-orange darken-2">
                <div class="subheading">Avalon Springs Resort</div>
                <v-spacer></v-spacer>
                <v-btn small flat fab href="mailto:debbie@avalonsprings.co.za"><v-icon>mail</v-icon></v-btn>
                <v-btn small flat fab href="http://www.avalonsprings.co.za"><v-icon>public</v-icon></v-btn>
              </v-card-title>
              <v-card-text>
                <p>The Avalon Springs Resort is once again the Host Hotel for the 2021 Route 62 Rally. The hotel boasts natural hot water springs that allow for the best relaxation one could wish for.</p>
                <p>The GPS coordinates for the hotel are 33 Deg 45’56.94″S – 20 Deg 07’02.76″E</p>
                <p>Each room has an en suite bathroom, small fridge, air-conditioning, television with DSTV, DVD player, hairdryer, and coffee and tea making facilities.</p>
                <p>The hotel facilities include the fantastic Cogman’s dining room, the John Montagu Bar and Lounge and of course full access to the mineral water spa pools that reach 43 degrees Celsius and have their own bar and catering facilities.</p>
                <p>The mountain chalets are units with an undercover porch with built in braai area, a lounge, a fully fitted open plan kitchen and two double bedrooms each with an en suite bathroom. The lounge and bedrooms each have their own TV and the chalets are air-conditioned with a private outdoor spa bath per unit. The hotel must be booked for a minimum of two nights on the Friday and Saturday nights.</p>
                <p>Prices for the hotel rooms (per person per night) including breakfast are:</p>

                <table class="table mb-2">
                  <thead>
                    <tr>
                      <th class="text-xs-left">Description</th>
                      <th class="text-xs-left">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Single</td>
                      <td>R 950</td>
                    </tr>
                    <tr>
                      <td>Double sharing</td>
                      <td>R 575 per person</td>
                    </tr>
                    <tr>
                      <td>Four or more sharing mountain chalets</td>
                      <td>R 520 per person</td>
                    </tr>
                  </tbody>
                </table>

                <p>Use your Rally reference number and contact Debbie Nel for all your accommodation bookings.</p>

                <v-card>
                  <v-card-title>
                    <div>
                      <div class="title">Debbie Nel</div>
                      <div>Front Office Manager</div>
                    </div>
                  </v-card-title>
                  <v-list>
                    <v-list-tile avatar href="tel:+27236141150">
                      <v-list-tile-avatar><v-icon>contact_phone</v-icon></v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title>023 614 1150</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile avatar href="mailto:debbie@avalonsprings.co.za">
                      <v-list-tile-avatar><v-icon>contact_mail</v-icon></v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title>debbie@avalonsprings.co.za</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-card>
              </v-card-text>
              <v-divider></v-divider>
              <!-- Gallery -->
              <v-dialog v-model="viewingAvalonGallery" max-width="800px">
                <v-carousel style="max-height: 600px" :cycle="false" interval="60000" v-model="avalonGalleryIndex">
                  <v-carousel-item
                    v-for="(src, i) in galleries.avalon"
                    :key="`avalon-${i}`"
                    :src="src"
                  />
                </v-carousel>
              </v-dialog>
              <v-card-text>
                <v-layout class="row" style="overflow-x: scroll; height: 135px">
                  <img
                    v-for="image, index in galleries.avalon"
                    :src="image"
                    height="120px"
                    class="mx-1"
                    @click="galleryToggle('avalon', index)"
                  />
                </v-layout>
              </v-card-text>
            </v-card>

            <v-card color="grey darken-4" class="mb-2">
              <v-card-title class="deep-orange darken-2">
                <div class="subheading">Montagu Springs</div>
                <v-spacer></v-spacer>
                <v-btn small flat fab href="http://www.montagusprings.co.za/"><v-icon>public</v-icon></v-btn>
              </v-card-title>
              <v-card-text>
                <p>Montagu Springs situated adjacent to the Avalon Springs Host Hotel offers 90 self catering facilities with units sleeping up to four people. This tranquil resort with its palm lined entrance, peach and plum orchards, colorful bougainvillea and roses offers an alternate to the host hotel.</p>
                <p>Special Rally Prices for the Plettenberg homes are per person sharing excluding breakfast. Meals including breakfast can be provided by Avalon Springs Hotel for your account.Should you wish to extend your stay the same rate will apply for the extended dates – subject to availability.</p>
                <p>Effective Dates: 9 Feb – 12 Feb 2023</p>

                <table class="table mb-2">
                  <thead>
                    <tr>
                      <th class="text-xs-left">Description</th>
                      <th class="text-xs-left">Single</th>
                      <th class="text-xs-left">Two people</th>
                      <th class="text-xs-left">Three or more</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Small Pletts</td>
                      <td>R 1,195</td>
                      <td>R 570</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td>Large Pletts</td>
                      <td>R 1,295</td>
                      <td>R 625</td>
                      <td>R 420</td>
                    </tr>
                    <tr>
                      <td>Josmont Heights &amp; Golden Terraces</td>
                      <td>R 1,550</td>
                      <td>R 750</td>
                      <td>R 510</td>
                    </tr>
                    <tr>
                      <td>The Villas</td>
                      <td>R 1,890</td>
                      <td>R 910</td>
                      <td>R 650</td>
                    </tr>
                  </tbody>
                </table>

                <p>
                  Rates are per person sharing and room only. All meals are available at
                  Avalon Springs Hotel and various food stalls. Should a guest wish to extend
                  stay then same rate will apply for any extended dates – subject to availability.
                </p>

                <v-card>
                  <v-card-title>
                    <div>
                      <div class="title">Louise</div>
                      <!-- <div>Front Office Manager</div> -->
                    </div>
                  </v-card-title>
                  <v-list>
                    <v-list-tile avatar href="tel:+27236141050">
                      <v-list-tile-avatar><v-icon>contact_phone</v-icon></v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title>023 614 1050</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile avatar href="mailto:msprings@singergroup.co.za">
                      <v-list-tile-avatar><v-icon>contact_mail</v-icon></v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title>msprings@singergroup.co.za</v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-card>
              </v-card-text>
              <v-divider></v-divider>
              <!-- Gallery -->
              <v-dialog v-model="viewingMontaguGallery" max-width="800px">
                <v-carousel style="max-height: 600px" :cycle="false" interval="60000" v-model="montaguGalleryIndex">
                  <v-carousel-item
                    v-for="(src, i) in galleries.montagu"
                    :key="`montagu-${i}`"
                    :src="src"
                  />
                </v-carousel>
              </v-dialog>
              <v-card-text>
                <v-layout class="row" style="overflow-x: scroll; height: 135px">
                  <img
                    v-for="image, index in galleries.montagu"
                    :src="image"
                    height="120px"
                    class="mx-1"
                    @click="galleryToggle('montagu', index)"
                  />
                </v-layout>
            </v-card>

            <v-card color="grey darken-4" class="mb-2">
              <v-card-title class="deep-orange darken-2">
                <div class="subheading">Little Sanctuary</div>
                <v-spacer></v-spacer>
                <v-btn small flat fab href="http://www.little-sanctuary.co.za/"><v-icon>public</v-icon></v-btn>
              </v-card-title>
              <v-card-text>
                <p>
                  Neighbouring the well-known Natural Hot Springs in Montagu,
                  Little Sanctuary is an owner-run business offering a range
                  of self-catering accommodation. Set on a 2.5 hectare private
                  estate, the tranquil setting makes Little Sanctuary ideal for
                  a romantic getaway for two, or to simply recharge those batteries.
                </p>
              </v-card-text>
            </v-card>

            <v-card color="grey darken-4" class="mb-2">
              <v-card-title class="deep-orange darken-2">
                <div class="subheading">Alternatives</div>
                <v-spacer></v-spacer>
                <v-btn small flat fab href="https://www.montagu.org.za/accommodation/"><v-icon>public</v-icon></v-btn>
              </v-card-title>
              <v-card-text>
                <p>
                  Visit the Montagu tourism website to find additional alternatives if you require.
                </p>
              </v-card-text>
            </v-card>

          </v-card-text>
        </v-card>
      </v-container>

      <v-container>
        <!-- Charity -->
        <v-card id="charity" class="mb-4" v-if="false">
          <v-card-title>
            <div class="title">Charity</div>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn slot="activator" small flat fab href="#countdown" @click="$vuetify.goTo('#countdown', { offset: $vuetify.breakpoint.smAndUp ? -60 : -120 })">
                <v-icon>arrow_upward</v-icon>
              </v-btn>
              <span>Back to Top</span>
            </v-tooltip>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <p>
              Thanks to all who attended our 11th Rally, we were able to collect R35,000 for charity.
              So far in 2017 we have spent R35,000. These funds will be used for a charity identified
              by our rally committee and in standing with our commitment, will be used to purchase
              tangible goods to the betterment of the selected charities. No cash will be handed over.
              A full list of the selected charities and goods supplied will be available at our next rally.
              We would also like to thank the companies that help us to help others by giving good discounts
              on purchases.
            </p>

            <!-- St. Monica's Home -->
            <!-- Huis Uitvlucht -->
            <!-- Precious Jewels -->
          </v-card-text>
        </v-card>
      </v-container>

      <v-container>
        <!-- Sponsors -->
        <v-card id="sponsors" class="mb-4">
          <v-card-title>
            <div class="title">Sponsors</div>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn slot="activator" small flat fab href="#countdown" @click="$vuetify.goTo('#countdown', { offset: $vuetify.breakpoint.smAndUp ? -60 : -120 })">
                <v-icon>arrow_upward</v-icon>
              </v-btn>
              <span>Back to Top</span>
            </v-tooltip>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-container fluid style="min-height: 0;" grid-list-sm>
              <v-layout row wrap justify-center>
                <v-tooltip top>
                  <a slot="activator" href="http://www.avalonsprings.co.za" class="mx-1 my-2">
                    <%= image_tag 'sponsors/avalon-springs.jpg' %>
                  </a>
                  <span>Avalon Springs</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="http://www.touaregtents.co.za" class="mx-1 my-2">
                    <%= image_tag 'sponsors/touareg.jpg' %>
                  </a>
                  <span>Touareg Tents</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="http://www.boncourage.co.za" class="mx-1 my-2">
                    <%= image_tag 'sponsors/boncourage.jpg' %>
                  </a>
                  <span>Bon Courage</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="http://www.hd-tygervalley.co.za" class="mx-1 my-2">
                    <%= image_tag 'sponsors/hd-tygervalley.jpg' %>
                  </a>
                  <span>Harley-Davidson Tyger Valley</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="http://www.medway.co.za/" class="mx-1 my-2">
                    <%= image_tag 'sponsors/medway.jpg' %>
                  </a>
                  <span>Med Way</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="https://www.dreamvacs.com/" class="mx-1 my-2">
                    <%= image_tag 'sponsors/dreamvacationclub.jpg' %>
                  </a>
                  <span>Dream Vacation Club</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="http://www.psg.co.za/centurion-short-term" class="mx-1 my-2">
                    <%= image_tag 'sponsors/psg-konsult.jpg' %>
                  </a>
                  <span>PSG Insure</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="http://topcopy.co.za" class="mx-1 my-2">
                    <%= image_tag 'sponsors/TopCopy.jpg' %>
                  </a>
                  <span>Top Copy</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="http://www.mikescholtzelectrical.co.za/" class="mx-1 my-2">
                    <%= image_tag 'sponsors/MikeScholtz.jpg' %>
                  </a>
                  <span>Mike Scholtz Electrical</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="https://www.dreamresorts.co.za/" class="mx-1 my-2">
                    <%= image_tag 'sponsors/dream-hotels.jpg' %>
                  </a>
                  <span>Dream Hotels &amp; Resorts</span>
                </v-tooltip>

                <v-tooltip top>
                  <a slot="activator" href="http://www.audiolens.co.za/" class="mx-1 my-2">
                    <%= image_tag 'sponsors/Audiolens.jpg' %>
                  </a>
                  <span>Audiolens</span>
                </v-tooltip>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-container>

      <v-container>
        <!-- Contact -->
        <v-card id="contact">
          <v-card-title>
            <div class="title">Contact</div>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn slot="activator" small flat fab href="#countdown" @click="$vuetify.goTo('#countdown', { offset: $vuetify.breakpoint.smAndUp ? -60 : -120 })">
                <v-icon>arrow_upward</v-icon>
              </v-btn>
              <span>Back to Top</span>
            </v-tooltip>
          </v-card-title>
          <v-divider></v-divider>
          <v-form v-model="contact.valid" action="/contacts" method="POST">
            <v-card-text>
              <input type="hidden" name="authenticity_token" :value="csrf">
              <v-text-field
                label="Name" name="name"
                v-model="contact.name"
                required :rules="[(v) => !!v || 'Please provide your name']"
              ></v-text-field>
              <v-text-field
                label="E-mail" name="email"
                v-model="contact.email"
                required :rules="[(v) => !!v || 'Please provide a contact email address']"
              ></v-text-field>
              <v-text-field
                label="Message" name="message"
                v-model="contact.message"
                required :rules="[(v) => v.length > 0 || 'Please provide a message']"
              ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn :disabled="!contact.valid" color="primary" type="submit">Send message</v-btn>
          </v-form>
        </v-card>
      </v-container>
    </v-content>
  </v-app>
</div>
<script src="https://unpkg.com/scrollmonitor@1.2.4/scrollMonitor.js"></script>
<script>
window.Vue = new Vue({
  el: '#app',
  created() {
    // Set Rails CSRF token
    this.csrf = document.querySelector("meta[name='csrf-token']").content
  },
  mounted() {
    // Start the countdown timer
    var deadline = new Date(2023, 1, 9, 10, 00)
    initializeClock('clockdiv', deadline)

    // Watch elements for scrolling
    var watcher = scrollMonitor.create(document.getElementById('about-event'), -80);
    watcher.enterViewport(() => this.section = 'about-event');
    watcher.fullyEnterViewport(() => this.section = 'about-event');
    // watcher = scrollMonitor.create(document.getElementById('the-rally'), -80);
    // watcher.enterViewport(() => this.section = 'the-rally');
    // watcher.fullyEnterViewport(() => this.section = 'the-rally');
    watcher = scrollMonitor.create(document.getElementById('registration-info'), -80);
    watcher.enterViewport(() => this.section = 'registration-info');
    watcher.fullyEnterViewport(() => this.section = 'registration-info');
    // watcher = scrollMonitor.create(document.getElementById('programme'), -80);
    // watcher.enterViewport(() => this.section = 'programme');
    // watcher.fullyEnterViewport(() => this.section = 'programme');
    watcher = scrollMonitor.create(document.getElementById('accommodation'), -80);
    watcher.enterViewport(() => this.section = 'accommodation');
    watcher.fullyEnterViewport(() => this.section = 'accommodation');
    // watcher = scrollMonitor.create(document.getElementById('charity'), -80);
    // watcher.enterViewport(() => this.section = 'charity');
    // watcher.fullyEnterViewport(() => this.section = 'charity');
    watcher = scrollMonitor.create(document.getElementById('sponsors'), -80);
    watcher.enterViewport(() => this.section = 'sponsors');
    watcher.fullyEnterViewport(() => this.section = 'sponsors');
    watcher = scrollMonitor.create(document.getElementById('contact'), -80);
    watcher.enterViewport(() => this.section = 'contact');
    watcher.fullyEnterViewport(() => this.section = 'contact');
  },
  data: {
    csrf: '',
    flashes: {
      <% flash.each do |key, message| %>
      <%= key %>: true,
      <% end %>
    },
    open: false, // NOTE: Setting this hides the application form
    full: true, // NOTE: Set this if the rally is at capacity early
    hibernating: false, // NOTE: Set this between the rally and announcement for next rally
    section: null,
    navOptions: [
      { text: 'About Event', value: 'about-event' },
      // { text: 'The Rally', value: 'the-rally' },
      { text: 'Registration Info', value: 'registration-info' },
      // { text: 'Programme', value: 'programme' },
      { text: 'Accommodation', value: 'accommodation' },
      // { text: 'Charity', value: 'charity' },
      { text: 'Sponsors', value: 'sponsors' },
      { text: 'Contact', value: 'contact' }
    ],
    // Galleries
    viewingAboutGallery: false,
    aboutGalleryIndex: 0,
    viewingAvalonGallery: false,
    avalonGalleryIndex: 0,
    viewingMontaguGallery: false,
    montaguGalleryIndex: 0,
    galleries: {
      about: <%= raw Dir.glob('app/assets/images/gallery/about/*').map { |p| image_url p.split('/')[-3..-1].join('/') }.shuffle %>,
      avalon: <%= raw Dir.glob('app/assets/images/gallery/avalon/*').map { |p| image_url p.split('/')[-3..-1].join('/') }.shuffle %>,
      montagu: <%= raw Dir.glob('app/assets/images/gallery/montagu/*').map { |p| image_url p.split('/')[-3..-1].join('/') }.shuffle %>
    },
    contact: {
      valid: false,
      name: '',
      email: '',
      message: ''
    }
  },
  methods: {
    scroll(id) {
      this.$vuetify.goTo(`#${id}`, { offset: -80 })
    },
    galleryToggle(gallery, index) {
      switch (gallery) {
        case 'about':
          this.viewingAboutGallery = true
          this.aboutGalleryIndex = index
          break;
        case 'avalon':
          this.viewingAvalonGallery = true
          this.avalonGalleryIndex = index
          break;
        case 'montagu':
          this.viewingMontaguGallery = true
          this.montaguGalleryIndex = index
          break;
      }
    }
  }
})
</script>
